<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-EC-USBX.aml</key>
		<data>
		jayFyRFwPnOaCkP4I3VhlZ82A+RcfkimDf56TQrhCmQ=
		</data>
		<key>ACPI\SSDT-PMC.aml</key>
		<data>
		/mXcY6xhvJq5gz2Uf4cVtIULluM6L0mB58iOXzmMZbo=
		</data>
		<key>ACPI\SSDT-UIAC.aml</key>
		<data>
		1Lt62j26cjAbKX+Qnt2NOeXkYvWTuMXQXGijsj7XLEg=
		</data>
		<key>Drivers\ApfsDriverLoader.efi</key>
		<data>
		xYW+fOru6dn9XZFfoPCA8lj8wcphrayIYxWudzKqIr0=
		</data>
		<key>Drivers\FwRuntimeServices.efi</key>
		<data>
		RhGtz+Z4CK9XOM23dlBw2kICP3neRDt71c4gLo1tjNo=
		</data>
		<key>Drivers\VBoxHfs.efi</key>
		<data>
		Fu8OF4f5NTcimtm0A9uK/c8I/rDQJAvpd+fqRnGBKcc=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		TkOT6cNXBzlUVOlnkdbRRzk2IJBNlbFMXMUFQTpTqEs=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		7Mtu6LgL/M+DwSntvD65PgEKw/KWRJfpXTz+4ejcUdI=
		</data>
		<key>Kexts\CPUFriend.kext\Contents\Info.plist</key>
		<data>
		YHamZEsMJ6RBiTYnBwA6sW2E5Gtt8Inv2kI0l94WKzk=
		</data>
		<key>Kexts\CPUFriend.kext\Contents\MacOS\CPUFriend</key>
		<data>
		0uIubY0gsDRvRDLzbmYwpNK1orpd1HD5d0iK3uEPTNc=
		</data>
		<key>Kexts\CPUFriendDataProvider.kext\Contents\Info.plist</key>
		<data>
		lYatVPbfMiCJmbDMO83Borlfs1OzQ63ziQVcvtPlI4I=
		</data>
		<key>Kexts\IntelMausiEthernet.kext\Contents\Info.plist</key>
		<data>
		Wu8P8AkXQUDqqPnK9sswGxdVOgccPrxNOenzQgHSIEI=
		</data>
		<key>Kexts\IntelMausiEthernet.kext\Contents\MacOS\IntelMausiEthernet</key>
		<data>
		veoTg5IuDd0PlsKcSkcJGBkxf80VcdlBxLihQnXyQrc=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		w5yOVi/Y04qRlA/4VRckQlgtnHGBKXsGVWlaBzrFEag=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		4ZQqk42GVHEvJrKZV83TmEUu8YZtIJbZne77eB6Gk2o=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		BDD2GW0pFxKT+So0/PpMeIznyjq50cBfFc7sT5layBs=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		mc/M9HjF/5mXaSTtveCbHYgTVXJCQbVx+lmMWd0205o=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		22S1Vx2tSVon3N5t1BCWlAl9oGKAgCmVezaxtjHXPWk=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		jlRLrE65zJlrX6nXNM60slv1JLQYyUwt2c5ClhDqAjE=
		</data>
		<key>Kexts\SmallTreeIntel82576.kext\Contents\Info.plist</key>
		<data>
		HYYO3U0Qnmk1bgLu3sm087C/adSlbr/g1CDUiyeJVOE=
		</data>
		<key>Kexts\SmallTreeIntel82576.kext\Contents\MacOS\SmallTreeIntel82576</key>
		<data>
		TOqGUWGrsAnzXCZ8xmwVRYcuK1NKGe8/qqg5XRtk/4s=
		</data>
		<key>Kexts\SmallTreeIntel82576.kext\Contents\Resources\English.lproj\InfoPlist.strings</key>
		<data>
		Oc8u4Ht7Mz58F50L9NeYpbcq9qTlhPUeZCcDu/pPyCg=
		</data>
		<key>Kexts\SmallTreeIntel82576.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		Yui15jxIxostA397A+gvgZw1SsTJ/JYIrems3yR8TR0=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\Info.plist</key>
		<data>
		54FrxrA7lG8gcAjvDpfzq24d0E0j+OEDPsmlRY//+iY=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\MacOS\USBInjectAll</key>
		<data>
		ssESYPITn3j4PUYyG30mJ5GUwXzOgxYKOW1ssUl+dGk=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		SN3x1Hsk9JYdb2N6VTzgdGePFU2LcGCyQxJlJzswBqM=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		l3Wb7ZeFeSxcFVAZlexIiOyNgzllEsvIDaLyNl0tR6E=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		pGUdHyX9EF5FfRqNnkm77hsK7slZesrQkN1o1DcUkHU=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		XNWJ54yIIt1N/z+29T+Z9bWEXktBgT5aJjrrBs0p65g=
		</data>
		<key>Kexts\XHCI-300-series-injector.kext\Contents\Info.plist</key>
		<data>
		NZ67+/HFCJRywAvoNH1pSSNr2+qECqARODMgXWuG4oY=
		</data>
		<key>config.plist</key>
		<data>
		ginSX5WfEueSbSdvwxy7VLM+RFdsbkIeyWBWfWiBymY=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
